<section id="hero" class="center-grid primary">
    <div class="center-grid-content flex-col gap">
        <h1>Partijgedrag België</h1>
        <h1 data-i18n="heroTitle">Hoe stemt het Belgische parlement?</h1>
        <p data-i18n="heroSubtitle1">In het federaal parlement stemmen verkozen vertegenwoordigers over wetten die uw
            leven rechtstreeks beïnvloeden.</p>
        <p data-i18n="heroSubtitle2">Ontdek hier hoe u vertegenwoordigd wordt in De Kamer.</p>

        <ul class="flex-row flex-wrap">
            <li>
                <div class="number">6000+</div>
                <div class="label" data-i18n="heroStat1">Documenten geanalyseerd</div>
            </li>
            <li>
                <div class="number">2024 - 2026</div>
                <div class="label" data-i18n="heroStat2">Periode van data</div>
            </li>
            <li>
                <div class="number">100%</div>
                <div class="label" data-i18n="heroStat3">Transparant en onafhankelijk</div>
            </li>
        </div>
    </div>
</section>
