---
layout: layouts/meeting
permalink: "sessions/{{ vote.session_id }}/meetings/P{{ vote.meeting_id }}/votes/{{ vote.vote_id }}/"
pagination:
    data: collections.votes
    size: 1
    alias: vote
    addAllPagesToCollections: true
eleventyComputed:
    title: "Plenaire naamstemming {{ vote.vote_id }} op {{ vote.date | date }}"
    description: "Volg naamstemming {{ vote.vote_id }}: bekijk resultaten per fractie en per kamerlid."
    i18nHeader: "voteHeader"
    i18nHeaderVars: {
        title: "{{ vote.title_nl }}"
    }
    i18nSubheader: "voteSubHeader"
    i18nSubheaderVars: {
      id: "{{ vote.vote_id }}"
    }
---

<!-- COMPONENTS -->
{%- from "components/vote-card.njk" import voteCard -%}

<!-- VARIABLES -->
{% set document_id = "IP" + (vote.meeting_id | padLeft(3, '0')) + "X" %}
{% set passed = (vote.yes_count | int) > ((vote.no_count | int) + (vote.abstain_count | int)) %}

<!-- PAGEFIND METADATA -->
<span style="display:none" data-pagefind-meta="title">Naamstemming {{ vote.vote_id }} ingediend op {{ vote.date | date }}</span>
<span style="display:none" data-pagefind-body>{{ vote.title }}</span>

<section id="vote" class="flex-col gap">
    <!-- INFO -->
    <div class="card">
        <div class="card-section padded flex-col gap-small">
            <!-- HEADER -->
            <div class="flex-row justify-content:space-between">
                <h2 id="overzicht">Details naamstemming</h2>
                <a href="https://www.dekamer.be/doc/PCRI/html/{{ vote.session_id }}/ip{{ vote.meeting_id | padLeft(3, '0') }}x.html" target="_blank" class="flex-row gap-small align-items:center outlined padded-tight rounded">
                    {% lucide "external-link" %}
                    <span>Bron</span>
                </a>
            </div>

            <div class="flex-col gap">
                <!-- SUMMARY -->
                <p>Deze stemming werd {% if passed %}<span data-i18n="passed"></span>{% else %}<span data-i18n="failed"></span>{% endif %} tijdens <a href='/sessions/56/meetings/P{{ vote.meeting_id }}'>de plenaire vergadering op {{ vote.date | date }}</a>.</p>
                {% if vote.dossier_id and vote.document_id %}
                <p>Deze stemming is gelinkt aan <a href='/sessions/56/dossiers/{{ vote.dossier_id }}'>dossier {{ vote.dossier_id }}, subdocument {{ vote.document_id }}</a>.</p>
                {% endif %}
            </div>
        </div>

        <!-- DETAILS -->
        <div class="card-section padded">
            <div class="flex-col gap">
                <div class="flex-row flex-wrap gap align-items:center">
                    <!-- MEETING ID -->
                    <div class="flex-row align-items:center">
                        <span class="icon-muted">{% icon "lucide:file-text" %}</span>
                        <span class="text-muted">{{ document_id }}</span>
                    </div>

                    <!-- DOSSIER ID -->
                    <div class="flex-row align-items:center">
                        <span class="icon-muted">{% icon "lucide:file-text" %}</span>
                        <span class="text-muted">D{{ vote.dossier_id }}</span>
                    </div>

                    <!-- STATUS -->
                    <div class="flex-row align-items:center">
                        <span class="icon-muted">{% icon "lucide:vote" %}</span>
                        {% if passed %}
                        <span data-i18n="passed" class="badge on-positive"></span>
                        {% else %}
                        <span data-i18n="failed" class="badge on-negative"></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VOTE DETAILS -->
    <div class="flex-col gap">
        <h2 id="stemresultaten" class="capitalize-first" data-i18n="voteResults">Stemresultaten</h2>

        {{ voteCard({ vote: vote, fractionColors: fractionColors, federalGovernment: federalGovernment, hideVoteLink: "true" }) }}

        <!-- PER FRACTION -->
        <div class="flex-col gap">
            <h3>Resultaten per fractie.</h3>
            <div class="card padded">
                {% for fraction, counts in vote.votes_by_fraction %}
                {% set total = counts.yes + counts.no + counts.abstain %}
                <div class="flex-row justify-content:space-between align-items:center gap">
                    <div style="width:40%; text-align: end;">
                        {% if federalGovernment | contains(fraction) %}
                        <p class="flex-row federal-government-after align-items:center margin:0">{{ fraction }}</p>
                        {% else %}
                        <p class="flex-row align-items:center margin:0">{{ fraction }}</p>
                        {% endif %}
                    </div>
                    <div class="progress-bar" style="width: 60%;">
                        <div class="bar-segment on-positive" style="width: {{ (counts.yes / total * 100).toFixed(1) }}%">
                            {% if counts.yes > 0 %}<span
                                class="bar-label">{{ (counts.yes / total * 100).toFixed(1) }}%</span>{% endif %}
                        </div>
                        <div class="bar-segment on-negative" style="width: {{ (counts.no / total * 100).toFixed(1) }}%">
                            {% if counts.no > 0 %}<span class="bar-label">{{ (counts.no / total * 100).toFixed(1) }}%</span>{%
                            endif %}
                        </div>
                        <div class="bar-segment on-neutral" style="width: {{ (counts.abstain / total * 100).toFixed(1) }}%">
                            {% if counts.abstain > 0 %}<span class="bar-label">{{ (counts.abstain / total * 100).toFixed(1) }}%</span>{%
                            endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <p class="federal-government-before" style="margin-top: 2rem;">= lid van de huidige federale regering</p>
            </div>
        </div>

        <!-- PER MEMBER -->
        <div class="flex-col gap">
            <h3>Resultaten per kamerlid.</h3>
            <div class="card padded">
                <div class="votes-table-container" style="border-top: 1px solid #dddddd;">
                    <table class="votes-table">
                        <thead>
                            <tr>
                                <th>Partij</th>
                                <th>Kamerlid</th>
                                <th style="text-align: end;">Stemming</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for member in vote.yes_members %}
                            {% set primaryColor = fractionColors[member.fraction].primary or '#95a5a6' %}
                            {% set secondaryColor = fractionColors[member.fraction].secondary or '#95a5a6' %}
                            <tr>
                                <td>
                                    <span class="badge bold" style="color: {{primaryColor}};background-color: {{ secondaryColor }};">{{ member.fraction }}</span>
                                    <!--<a href="/fractions/{{ member.fraction | slugify }}/" class="badge bold" style="color: {{primaryColor}};background-color: {{ secondaryColor }};">{{ member.fraction }}</a>-->
                                </td>
                                <td>
                                    <a href="/members/{{member.name | slugify }}/">{{ member.name }}</a>
                                </td>
                                <td style="text-align: end;">
                                    <span class="vote-dot yes"></span>ja
                                </td>
                            </tr>
                            {% endfor %}

                            {% for member in vote.no_members %}
                            {% set primaryColor = fractionColors[member.fraction].primary or '#95a5a6' %}
                            {% set secondaryColor = fractionColors[member.fraction].secondary or '#95a5a6' %}
                            <tr>
                                <td>
                                    <a href="/fractions/{{ member.fraction | slugify }}/" class="badge bold" style="color: {{primaryColor}}; background-color: {{ secondaryColor }};">{{ member.fraction }}</a>
                                </td>
                                <td>
                                    <a href="/members/{{member.name | slugify }}/">{{ member.name }}</a>
                                </td>
                                <td style="text-align: end;">
                                    <span class="vote-dot no"></span>nee
                                </td>
                            </tr>
                            {% endfor %}

                            {% for member in vote.abstain_members %}
                            {% set primaryColor = fractionColors[member.fraction].primary or '#95a5a6' %}
                            {% set secondaryColor = fractionColors[member.fraction].secondary or '#95a5a6' %}
                            <tr>
                                <td>
                                    <a href="/fractions/{{ member.fraction | slugify }}/" class="badge bold" style="color: {{primaryColor}};background-color: {{ secondaryColor }};">{{ member.fraction }}</a>
                                </td>
                                <td>
                                    <a href="/members/{{member.name | slugify }}/">{{ member.name }}</a>
                                </td>
                                <td style="text-align: end;">
                                    <span class="vote-dot abstain"></span>onthouding
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
